<template>
  <div class="graph" id="3d-graph"/>
</template>

<script>
import { LOAD_ALL_PLANETS_ACTION } from '@/store'
export default {
  name: "map",
  components: {},
  async created() {
    await this.$store.dispatch(LOAD_ALL_PLANETS_ACTION)
  },
  mounted() {
    const elem = document.getElementById('3d-graph');
    const Graph = ForceGraph3D()
      (elem)
        .graphData({
          "nodes": [{
            "id": "do151",
            "group": "K12",
            "fx": "105",
            "fy": "493",
          },
          {
            "id": "elit160",
            "group": "R10",
            "fx": "5",
            "fy": "243",
          }],
          "links": [
            {"source": "elit160", "target": "do151", "value": 1}
          ]
        })
        .width(window.innerWidth / 2)
        .height(window.innerHeight - 60)
        // .jsonUrl('./planetsPerfLoad.json')
        .nodeLabel('id')
        .nodeAutoColorBy('group')
        // .nodeThreeObject(node => {
        //   var loader  = new THREE.TextureLoader(),
        //     texture = loader.load("./text1.jpg");
        //   var material = new THREE.MeshPhongMaterial({ 
        //     map: texture,
        //   });
          
        //   const obj = new THREE.Mesh(
        //     new THREE.SphereGeometry(10),
        //     // new THREE.MeshBasicMaterial({ depthWrite: false, transparent: false, opacity: 1 })
        //     material,
        //   );

        //   const sprite = new SpriteText(node.id)
        //   sprite.color = node.color;
        //   sprite.textHeight = 8;
        //   obj.add(sprite);

        //   return obj;
        // })
        .onNodeHover(node => elem.style.cursor = node ? 'pointer' : null)
        .onNodeClick(node => {
          // Aim at node from outside it
          const distance = 40;
          const distRatio = 1 + distance/Math.hypot(node.x, node.y, node.z);
          Graph.cameraPosition(
            { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }, // new position
            node, // lookAt ({ x, y, z })
            3000  // ms transition duration
          );
        });
    
        
        var skyGeo = new THREE.SphereGeometry(10000); 
        var loader  = new THREE.TextureLoader(),
        texture = loader.load( "https://cdn.eso.org/images/large/eso0932a.jpg" );
        var material = new THREE.MeshPhongMaterial({ 
          map: texture,
        });

        var sky = new THREE.Mesh(skyGeo, material);
        sky.material.side = THREE.BackSide;
        Graph.scene().add(sky);
  }
};
</script>

<style lang="scss">
  .graph {
    width: 50vw;
    height: calc(100vh - 60px);
  }
</style>
